.breed {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: calc(33% - 50px);

    .image-wrapper {
        position: relative;
        // width: 220px;
        // height: 220px;
        border-radius: 24px;

        img {
            position: relative;
            // top: 0;
            // left: 0;
            width: 100%;
            height: 350px;
            border-radius: 24px;

            @media(max-width: 1440px) {
                height: 250px;
            }
        }
    }

    .name {
        margin: 0;
        color: #291507;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
}

.side-overlay {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: calc(100% - 46px);
        background: #DEC68B;
        left: -10px;
        top: 30px;
        border-radius: 14px;
    }
}