$sidebarBgColor: #FAFBFD;

.App{
    height: 100%;
    .main-layout{
        display: flex;
        height: 100%;

        .nav-section{
            background-color: $sidebarBgColor;
            width: 240px;
            height: 100%;
            padding: 50px 56px;
        }

        .content-section{
            width: calc(100% - 240px);
            padding: 54px 92px;

            .main-content{
                display: flex;
                flex-direction: column;
                row-gap: 28px;
                
                .section-title{
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                }

                .contents{

                    .content-group{
                        
                    }
                }
            }

            .infos{
                .icons-link{
                    font-size: 12px;
                    line-height: 12px;
                    font-weight: 400;
                    color: #828282;

                    a{
                        text-decoration: none;
                        color: #828282;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                .created-by{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #A9A9A9;

                    a{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        text-decoration: none;
                        color: #A9A9A9;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}